@page "/Admin/Orders"
@model MagyarGravir.Shop.Pages.Admin.Orders.OrderListModel
@{
    ViewData["Title"] = "Admin - Rendelések";
}

<h1>Rendelések</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Név</th>
            <th>Email</th>
            <th>Dátum</th>
            <th>Állapot</th>
            <th>Művelet</th>
        </tr>


        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert-success">
                @TempData["SuccessMessage"]
            </div>
        }

        @foreach (var o in Model.Orders)
        {
            <tr>
                <td>@o.Id</td>
                <td>@o.CustomerName</td>
                <td>@o.Email</td>
                <td>@o.CreatedAt.ToLocalTime().ToString("yyyy.MM.dd HH:mm")</td>
                <td>
                    @if (o.IsCompleted)
                    {
                        <span class="done">Teljesítve</span>
                    }
                    else
                    {
                        <span class="pending">Feldolgozás alatt</span>
                    }
                </td>
                <td>
                    <a href="/Admin/Orders/Details?id=@o.Id">Megnyitás</a>
                </td>
            </tr>
        }
    </table>